#rpbanner {
  background: #343473;
  padding: 15px 0;
  padding-bottom: 50px;
  width: 100%;
  img {
    width: 100%;
  }
  .mobile {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  h1 {
    font-size: 2rem;
    color: $white;
    margin-top: 24px;
  }
  input {
    width: 100%;
    background: #262660;
    border-radius: 6px;
    color: $white;
    border: none;
    height: 46px;
    margin-bottom: 15px;
    padding-left: 40px;
  }
  .rpsearch {
    position: relative;
    img {
      max-width: 20px;
      position: absolute;
      top: 16px;
      left: 10px;
    }
  }
  button {
    width: 100%;
    margin-top: 15px;
    @include media-breakpoint-up(lg) {
      width: auto;
      padding: 12px 24px;
    }
  }
  .button-secondary {
    margin-top: 15px;
    @include media-breakpoint-up(lg) {
      margin-left: 15px;
    }
  }
  p {
    color: $white;
    font-size: 1.2rem;
    margin-bottom: 5px;
    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
  }
}
