.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #f9f9f9 !important;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url('../../assets/images/accordian-open.svg');
}
.inputEL{width: 372px !important;}
.textAreaEL{width: 566px !important;}
.accordion-button::after {background-image: url('../../assets/images/accordian-close.svg');}
.form-control {padding: .7rem .75rem;}
.label{
    font-family: Inter;
    font-style: normal;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #151147;
}

.submit{
    background: #5C5CE5;
    border-radius: 6px;
    width: 160px;
    height: 56px;
}
.accordion-item, .accordion-button {
    border:none;
    background-color: #f9f9f9 !important;
}
.accordion-button{border-top: 1px solid #4F4F4F !important;}
.accordion-item:last-child {border-bottom: 1px solid #4F4F4F !important;}
.accordion-button:focus{border-color: transparent;box-shadow: none;}
.plain-background{background-color: #f9f9f9 !important;}
.headingColor {
    color: #151147;
}

.accordHead{
    font-size: 1.125rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: #151147;
    line-height: 150%;
}
.heading{margin: 0 !important;padding: 52px 0 30px 0 !important;}
.accordion-button {padding: 19px 0 !important;}
@media (max-width: 768px)
{
.container{width: 90%;}
.inputEL{width: 100% !important;}
.textAreaEL{width: 100% !important;}
.heading {padding: 38px 0 30px 0 !important;}
}
@media (min-width:769px) and (max-width: 1024px)
{
    .inputEL{width: 210px !important;}
    .textAreaEL {width: 370px !important;    }
}
@media (max-width:280px)
{
    .rc-anchor-normal {
        width: 224px;
    }
}
