@import '../../assets/scss/index';
#header {
  height: auto;
  height: 64px;
  background: $navbar;

  @include media-breakpoint-up(lg) {
    height: 64px;
    display: block;
  }
  .row1 {
    @include flex-main;
    @include flex-direction;
    @include media-breakpoint-down(md) {
      justify-content: space-between;
      align-items: center;
    }
  }
  .logo {
    @include logo;
  }
  .nav {
    @include nav;
  }
  .nav ul li {
    padding: 0 20px;
    a {
      font-size: 18px;
      font-weight: 400;
    }
  }
  .menutoggle {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
      cursor: pointer;
    }
  }
}
