        @import "../../../../assets/scss/index";
        .button-primary {
            background: $primary-button-color;
            color: $white;
            border: none;
        }
        
        .button-secondary {
            border: 1px solid $white;
            color: $white;
            background: none;
        }
        
        .button-secondary-body {
            border: 1px solid $primary-button-color;
            color: $primary-button-color;
            background: none;
        }
        
        button {
            min-width: 100px;
            text-align: center;
            display: inline-block;
            @include padding( 15px, 15px, 20px, 20px);
            @include border-radius(6px);
            @include media-breakpoint-up(lg) {
                min-width: 200px;
            }
            &:hover {
                border-radius: 0;
            }
        }